<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

      <xi:include href="admin.html" />
  <head>
    <title>Project Notice</title>
  </head>

  <body>
  <div id="sub-main-right">
    <h3>Project Notice</h3>
    <form method="post" id="notice">
    	<label>Notice</label>
        <textarea cols="43" name='notice'>$notice</textarea><br />
        <div class="buttons">
        <input type="submit" value="Save"/>
        </div>
    </form>
   </div>
  </body>
</html>
